.update-profile-container {
    display: flex;
    justify-content: center;
    color: rgb(9, 126, 87);
}

h2 {
    color: rgb(9, 126, 87);
    text-align: center;
    font-size: 2rem;
}

.update-form {
    width: 40%;
    border: 3px solid rgb(45, 201, 149);
    background-color: rgb(227, 245, 239);
    border-radius: 10px;
    margin-top: 5%;
    padding: 3%;
}

.update-item {
    margin: 3%;
    padding: 3%;

    label {
        width: 50%;
        font-weight: bold;
        font-size: 1.5rem;
    }

    input, select {
        width: 70%;
        float: right;
        padding: 1%;
        border-radius: 10px;
        color: rgb(9, 126, 87);
        font-weight: bold;
        font-style: italic;
    }
}

.btn-container {
    display: flex;
    justify-content: center;

    button {
        width: 40%;
        margin: 5%;
        border-radius: 10px;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color:  rgb(45, 201, 149);
        padding: 1%;
        color: aliceblue;
        border: 2px solid rgb(9, 126, 87);
        font-weight: 600;
    }

    button:hover {
        cursor: pointer;
        background-color: rgb(111, 218, 182);
        color: rgb(33, 138, 103);;
    }
}

// Media queries
@media only screen and (max-width: 750px) {
    .update-form {
        width: 70%;
    }

    .update-form {
        width: 90%;
    }
}